{{ if ne .chezmoi.hostname "MBA" }}
["mise"]
type = "archive"
stripComponents = 1
exact = true
executable = true
url = "https://mise.jdx.dev/mise-{{.chezmoi.os}}-{{.chezmoi.arch}}"
dest = ".local/bin"
{{ end }}
