{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

if ! command -v chezmoi >/dev/null; then
  sh -c "$(curl -fsLS get.chezmoi.io/lb)" -- -b "$HOME/.local/bin/" init --apply git@github.com:druwan/dotfiles.git
fi

if ! command -v mise >/dev/null; then
  curl https://mise.run/zsh | sh
fi

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh
brew install mise chezmoi
{{ end -}}
