* {
    border: none;
    border-radius: 0;
    font-family: 'JetBrainsMonoNL Nerd Font Propo', 'Noto Sans Mono', monospace;
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: rgba(0, 0, 0, 0.4);
    color: white;
}

button {
  margin: 3px;
  padding: 3px;
}

tooltip {
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid white;
  border-radius: 10px;
}

tooltip label {
  color: white;
}

#workspaces button {
  margin: 0;
  padding: 0;
  background: transparent;
  color: #4b5561;
}

#workspaces button.focused {
  color: #00c3ff;
}

#mode,
#clock,
#pulseaudio,
#custom-weather {
  padding: 0 14px;
}

#scratchpad,
#window {
  margin-left: 6px;
  margin-right: 6px;
}

#custom-weather.sunny {
  color: yellow;
}

#custom-weather.lightrain {
  color: lightblue;
}

#custom-weather.heavyrain,
#custom-weather.rain {
  color: blue;
}

#custom-weather.cloudy,
#custom-weather.fog {
  color: #4b5561;
}

#pulseaudio.muted {
  color: darkred;
}
