[Unit]
Description=Run homelab cleanup bi-weekly

[Timer]
OnCalendar=Thu *-*-1..7 02:00
OnCalendar=Thu *-*-15..21 02:00
Persistent=true

[Install]
WantedBy=timers.target
