{{- $darwin := eq .chezmoi.os "darwin" -}}

[window]
decorations = "full"
opacity = 0.6
blur = {{ not $darwin }}
padding = { x = 5, y = 0 }


[font]
normal = { family = "JetBrainsMonoNL Nerd Font Mono", style = "Bold" }

{{- if $darwin }}
size = 16
style = "Regular"
{{- end }}

[general]
# themes from https://github.com/alacritty/alacritty-theme
# import = ["~/.config/alacritty/catppuccin-mocha.toml"]
import = ["~/.config/alacritty/tokyonight-night.toml"]

[terminal]
shell = { program = "{{ if $darwin }}/opt/homebrew/bin/tmux{{ else }}tmux{{ end }}", args = ["new-session", "-A", "-s", "default"] }
